:root
{
    --clr-body: #EAEAEA;
    --clr-white-banner-text: #FFFFFF;
    --clr-card-product:#1d1d1d;
    --clr-ellipse: #FFA542;
    --clr-box-card: #0000001A;
    --clr-title-card: #1C1C27;
    --clr-title--scroll: #838383;
    --clr-old--price: #FFCE7F;
    --clr-footer-text: #000000;
    --clr-footer-item: #101010;
    --clr-basket-subtitle: #666;
    --clr-basket-title: #333;
    --clr-i-fa-globe: #838383;
    --font-montserrat-banner-text:"Montserrat", sans-serif;
}
.basket-section {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.basket-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.basket-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
}

.basket-image {
    height: auto;
    margin-bottom: 20px;
}

.basket-text {
    padding: 10px;
}

.basket-title {
    font-family: var(--font-montserrat-banner-text);
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--clr-basket-title);
}

.basket-subtitle {
    font-family: var(--font-montserrat-banner-text);
    font-size: 1.75rem;
    font-weight: 400;
    color: var(--clr-basket-subtitle);
    margin-bottom: 20px;
}

.basket-btn-container {
    margin-top: 30px;
}

.basket-btn {
    display: inline-block;
    width: 100%;
    font-family: var(--font-montserrat-banner-text);
    font-size: 1.5rem;
    font-weight: 500;
    background-color: var(--clr-title-card);
    color: var(--clr-white-banner-text);
    padding: 12px 35px;
    margin-bottom: 21.5vh;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color .5s ease;
}

.basket-btn:hover {
    background-color: var(--clr-ellipse);
}
