:root
{
    --clr-body: #EAEAEA;
    --clr-white-banner-text: #FFFFFF;
    --clr-card-product:#1d1d1d;
    --clr-ellipse: #FFA542;
    --clr-box-card: #0000001A;
    --clr-title-card: #1C1C27;
    --clr-title--scroll: #838383;
    --clr-old--price: #FFCE7F;
    --clr-footer-text: #000000;
    --clr-footer-item: #101010;
    --clr-i-fa-globe: #838383;
    --font-montserrat-banner-text:"Montserrat", sans-serif;
}

html
{
    font-size: 10px;
}

body
{
    margin: 0px;
    background: var(--clr-body);
}

*,*:after,*:before
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth
}

ul
{
    list-style-type: none
}

a
{
    text-decoration: none;
}

/* ---- App ---- */
.container {
    max-width: 1300px;
    margin: 0 auto;
}

.navbar-container {
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-left,.top-right,.section-phone-select {
    display: flex;
    align-items: center;
}

.section-phone-select {
    margin-left: 45px;
}

.section-phone-select > select {
    border: none;
    outline: none;
    background: transparent;
    font-family: var(--font-montserrat-banner-text);
    font-size: 15px;
    font-weight: 500;
    padding: 0vh 0.3vh 0vh 1vh;
    cursor: pointer;
}

.right-container, .top-right a {
   padding: 0 15px;
}

.orders {
    position: absolute;
    font-family: var(--font-montserrat-banner-text);
    font-size: 12px;
    font-weight: 700;
    border-radius: 50%;
    margin-top: 5px;
    padding: 0 5px;
    background:var(--clr-ellipse);
    color: var(--clr-white-banner-text);
    z-index: 999;
}

.top-right img {
    display: flex;
}

/* ---- Advertising section ---- */
.advertising-line {
    margin: 35px 0px 30px;
}

.advertising-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:#101010;
    border-radius: 35px;
}

.banner-img {
    padding: 35px 0px 0px;
}

.banner-text {
    font-family: var(--font-montserrat-banner-text);
    font-size: 35px;
    font-weight: 600;
    color: var(--clr-white-banner-text);
}

/* ---- Products ---- */
.container--title {
    display: inline-block;
    margin: 2.5vh 0vh 2vh 10vh;
}

.container--title h2 {
    font-family: var(--font-montserrat-banner-text);
    font-size: 20px;
    font-weight: 600;
    color: var(--clr-title--scroll);
}

.scroll--container {
    margin-bottom: 25px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.scroll--item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll--container--desktop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.scroll--item > img,
.scroll--item > span {
    width: 75%;
    margin-top: 3vh;
}

.scroll--item {
    flex-direction: column;
}

.scroll--list {   
    width: 350px;
    height: 408px;
    background: var(--clr-card-product);
    border-radius: 30px;
    box-sizing: border-box;
    box-shadow: 0px 0px 20px 0px var(--clr-box-card);
    margin: 0vh 3vh;
}
.select-container {
    position: relative;
}

.select-container > i {
    position: absolute;
    top: 2vh;
    left: 3vh;
    font-size: 20px;
    font-weight: 500;
    color: var(--clr-body);
    cursor: pointer;
}

.scroll--type--cover {
    font-family: var(--font-montserrat-banner-text);
    font-size: 18px;
    font-weight: 700;
    line-height: 20.72px;
    text-align: center;
    color: var(--clr-body);
}

/* ---- Headphone ---- */
.card--container--item,
.scroll--card--info,
.scroll--card--price {
    width: 100%;
    margin-top: 1.5vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.scroll--card--info {
    margin-left: 2vh;
}

.scroll--card--info,
.scroll--card--price {
    flex-direction: column;
}

.scroll--img {
    height: 237px;
}

.scroll--card--info h3 {   
    text-align: left;
    font-family:var(--font-montserrat-banner-text);
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 2vh;
    color: var(--clr-body);
}

.scroll--card-info {
    width: 100%;
}

.st-rate {
    text-align: left;
    font-size: 22px;
    font-weight: 600;
    margin: 0vh 1.1vh 0vh 3vh;
    color: var(--clr-ellipse);
}

.rate {
    text-align: left;
    font-family: var(--font-montserrat-banner-text);
    font-size: 18px;
    font-weight: 500;
    color: var(--clr-title--scroll);
}

.price,.old--price {
    font-family:var(--font-montserrat-banner-text);
    line-height: 20.72px;
    color: var(--clr-ellipse);
}

.price {
    font-size: 17px;
    font-weight: 600;
}

.old--price {
    text-decoration: line-through;
    text-align: right;
    font-size: 13px;
    font-weight: 600;
    color: var(--clr-old--price);
}

/* ---- Footer ---- */
.footer-top-product {
    margin-top: 45px;
}

.wrap-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 149px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 30px 30px 0px 0px;
    background-color: var(--clr-white-banner-text);
}

.sc-nv,.social-media-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mspoiler,.item > a {
    font-family: var(--font-montserrat-banner-text);
    font-size: 17px;
    font-weight: 400;
    color: var(--clr-footer-text);
}

.item,.mspoiler {
   padding: 1vh 0vh;
}

.fa-glob,.item-nv > a {
    font-size: 17px;
    font-weight: 500;
    color: var(--clr-i-fa-globe);    
}

.item-nv > a { 
    padding: 0px 12px;
    color: var(--clr-footer-item);
}

.social-media-item > i {    
    font-size: 26px;
    padding: 0px 12px;
    background-color: transparent;
    color: var(--clr-footer-item);
}
